* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-left li:first-child {
  margin-right: 15px;
}

.nav-right li:nth-child(-n+2) {
  font-size: 12px;
  margin-right: 15px;
}

nav a {
  color: #000;
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: block;
  color: #727272;
  padding: 6px;
  margin-right: 5px;
}

.material-icons-outlined:hover {
  background-color: #e9e9e9;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

nav img {
  display: block;
  border: 3px solid #fff;
  border-radius: 50%;
}

nav img:hover {
  border: 3px solid #e9e9e9;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search {
  display: block;
}

footer {
  display: flex;
  flex-direction: column;
}

.bottom-footer {
  display: flex;
  justify-content: space-around;
}

.bottom-footer-left,
.bottom-footer-right {
  display: flex;
}
